<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
  <mat-toolbar-row>
    <span>Camundinator</span>
    <span style="flex:1"></span>
    <button mat-flat-button (click)="logout()">
      <mat-icon>person</mat-icon>
      {{ title }}
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <div style="text-align:center">
    <h1>
      Hello {{ title }}!
    </h1>
  </div>
  <h2>Here are some links to help you start: </h2>
  <router-outlet></router-outlet>
</div>
